/* SIDEBAR */
.sidebar-container {
    background-color: var(--bg-header-sidebar); 
    color: var(--cl-text-white);
    transition: max-width 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}
.sidebar-open {
    width: 250px;
}
.sidebar-close {
    width: 70px;
}
.sidebar-link {
    color: var(--cl-text-white);
}
.sidebar-link:hover,
.sidebar-link.active,
.list-bottom:hover {
    background-color: var(--bg-menu-highlight);
    font-weight: bold;
}
.main-open {
    margin-left: 250px;
}
.main-close {
    margin-left: 70px;
}
.p-tooltip {
    padding: 10px; 
    font-size: 16px; 
    background-color: #333; 
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
