.app-header {
  background: var(--bg-header-sidebar);
}

.app-header .image-logo {
  width: 8rem;
}

.app-header a {
  color: var(--primary-color-text);
}

.btn-login {
  background-color: var(--bg-red);
  padding: 5px 10px;
  border: 1px solid black;
  font-weight: bold;
}
