:root {
    --background-color: #FFFFFF;
    --background-secondary-color: #E9ECEF;
    --text-color: #212529;
    --text-color-gray: #888888;
    --text-color-white-1: #ffffff;
    --text-color-white-2: #e0e0e0;
    --primary-color: #007BFF;
    --secondary-color: #222222;
    --success-color: #28A745;
    --danger-color: #FF4C4C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: var(--text-color);
}